.seccion4__container {
  background-color: #fff;
  min-height: 87vh;
  padding: min(3vw, 1.5rem) min(1vw, 0.5rem);
  text-align: center;
  width: 100%;
}

.seccion4__container h2 {
  margin-bottom: min(3.75rem, 3vw);
  text-align: center;
}

.seccion4__card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.seccion4__card img {
  width: 100%;
}

.seccion4__card-image {
  cursor: pointer;
  transition: all 0.4s ease;
}

.seccion4__card-image:hover {
  transform: scale(1.15);
}

.seccion4__card h3 {
  font-family: var(--font-2);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
