.seccion4__container{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 40px 20px;
    margin-top: 60px;
}
.seccion4__container h2{
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.seccion4__card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.seccion4__card{
    height: 500px;
    width: 500px;
    border: 1px solid #111;
}
.seccion4__card img{
    width: 100%;
   
}