.confirm__container {
  min-height: 86vh;
  width: 100%;
  font-family: var(--font-1);
  padding: 2rem;
}
.confirm__container h1{
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-2);

}

.confirm__container__flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px 0;
}
.confirm__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid var(--black-color);
  padding: 30px;
  box-shadow: 3px 3px 5px rgb(195, 195, 195);
}
.confirm__right {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.confirm__left h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--font-2);
}
.confirm__right h3 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: var(--font-2);
}

/* ////////////////////////////right///////////////////////////// */

.confirm__data {
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
.confirm__data h4 {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
.confirm__data h4 span {
  font-weight: normal;
}

.confirm__right_btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  letter-spacing: 4px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.confirm__right_btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 5px rgb(124, 124, 124);
}

.confirm__edit {
  margin-top: 10px;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: 5px;
  background-color: transparent;
  border: none;
}
