.nav__container {
  width: 100%;
  padding: 0 3rem;
  height: 14vh;
  font-family: var(--font-2);
}
.nav__logo {
  height: 70px;
}
.nav__logo img {
  height: 100%;
}

.nav {
  position: sticky;
  background-color: var(--black-color);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 11;
  box-shadow: 2px 2px 5px rgba(179, 179, 179, 0.3);
}

.nav .nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.nav .nav__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

 .nav__list a {
  color: rgb(246, 244, 244);
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.nav__list.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav__list.active a {
  color: #000;
}

.nav__list.active .container {
  padding: 10px 0;
}

.nav__list a.current,
.nav__list a:hover {
  color: #636364;
} 

.hamburger{
  color: var(--white-color);
  font-size: 30px;
  display: none;
}


/* //////////////////////animate hamburger icon//////////////////////////// */




@media screen and (max-width: 768px) {
  .nav .nav__list {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav__container {
   
    padding: 0 1rem;
   
  }
}
@media screen and (min-width: 900px) {
  
  .nav__container {
   
    padding: 0 2rem;
   
  }
}


