.footer__container {
    width: 100%;
    height: auto;
    *display: inline-flex;
    *justify-content: space-between;
    *flex-wrap: wrap-reverse;
}

.footer__container__links {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.footer__container__links__izquierda {
    background-color: var(--black-color);
    order: 0;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: bisque;
    height: 230px;
    display: flex;
    flex-direction: column;
    font: var(--font-1);
    padding-bottom: 30px;
    width: 33%;
    border: 2px solid chartreuse;
}

.footer__container__links__centro {
    background-color: var(--black-color);
    order: 1;
    flex: 1;
    display: flex;
    height: 230px;
    align-items: center;
    justify-content: center;
    border: 2px solid aqua;
    color: var(--white-color);
}

.footer__container__links__derecha {
    background-color: var(--black-color);
    order: 1;
    flex: 1;
    height: 230px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 4px solid rgb(255, 0, 0);
}

.footer__container__links__derecha__full__arriba {
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px solid rgb(0, 255, 247);
    padding-top: 30px;
    justify-content: space-evenly;
}

.footer__container__links__derecha__arriba__iconos {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

.footer__container__links__derecha__arriba__iconos a {
    color: var(--black-color);
    font-size: 30px;
}

.footer__container__links__derecha__full__abajo {
    color: aliceblue;
    border: 2px solid olive;
    margin-top: 50px;
}




















.footer__container__derechos__reservados {
    width: 100%;
    height: 40px;
    border: 2px solid rgb(0, 217, 255);
    display: flex;
    justify-content: center;
    background-color: var(--black-color);

}

@media screen (min-width:) {}

/* blanco : --white-color
    negro: --black-color
    naranja: --primary-color */
/* FUENTES: --font-1 cosas que no sean titulos
    TITULOS: --font-2 */



/* css de meli */