.footer__container {
    width: 100%;
    height: auto;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#derechos__reservados {
    background-color: var(--black-color);
    order: 0;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: bisque;
    height: 230px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    font: var(--font-1);


}

#sobre_nosotros {
    background-color: var(--black-color);
    order: 1;
    flex: 1;
    height: 230px;


}

#iconos {
    background-color: var(--black-color);
    order: 2;
    flex: 1;
    height: 230px;
    display: flex;
    text-align: basecenterline;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 20px
}

.footer__iconos__container {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;

}

.footer__iconos__container a {
    color: var(--black-color);
    font-size: 40px;
}

/* blanco : --white-color
    negro: --black-color
    naranja: --primary-color */
/* FUENTES: --font-1 cosas que no sean titulos
    TITULOS: --font-2 */



/* css de meli */