.footer_container{
    width: 100%;
    height: 230px;
    background-color: var(--black-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#locales{
    background-color: blueviolet;
    order: 0;
    width: 33%;
}
#sobre_nosotros{
    background-color: aquamarine;
    order: 1;
    width: 33%;
}
#iconos{
    background-color: brown;
    order: 2;
    width: 33%;
}




/* css de meli */

