/* 1440 = 100%
 = */



.contact__container{
    width: 100%;
    height: 187vh;
    background-color: black;
}
.sct1__container{
    width: 100%;
    height: 87vh;
    display: flex;
    background-color: black;
}
.sct1_textcontain{
    width: 33vw;
    height: 87vh;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;

    
}
.sct1__text{
    padding-top: 61px;
    padding-bottom: 61px;
    padding-left: 39px;
    padding-right: 39px;
    border: 3.16px solid black ;
    background-color: white;
    font-family: var(--font-2);
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 3.69px;
}
.sct1__imagecontainer{
    width: 67vw;
    height: 87vh;
    background-color: blueviolet;
}
.sct1__image{
    width: 67vw;
    height: 87vh;
    object-fit: cover;
}
.sct2__container{
    width: 100%;
    height: 100vh;
    background-color: chocolate;
    position: relative;
    z-index: 2;
}
.sct2_cajanegra{
    width: 100%;
    height: 150px;
    background-color: var(--black-color);
    position: absolute;
    *top: 0px;
    z-index: -1;
}
.sct2__container h2{
    color: white;

}