.seccion3__container {
  align-items: center;
  display: flex;
  gap: 30px;
  height: auto;
  justify-content: center;
  padding: 100px 20px;
  position: relative;
  width: 100%;
}

.seccion3__background {
  background-color: #060606;
  height: 480px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.seccion__text,
.seccion__image {
  display: flex;
  display: relative;
  height: 800px;
  justify-content: center;
  min-width: 45vw;
}
.seccion__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.seccion__text span {
  font-family: var(--font-2);
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 1.3em;
  overflow-wrap: break-word;
}

.seccion__text-p {
  font-family: var(--font-1);
  font-size: 1.2rem;
  max-width: 400px;
  text-align: center;
}

/* ================clase global=============== */
.btn {
  background-color: #fff;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: var(--font-2);
  padding: 10px;
  transition: hover 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--primary-color);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: var(--white-color);
  transform: scale(1.05);
}

/* ================clase global=============== */

.seccion__image {
  position: relative;
}
.seccion__image-container {
  padding: 20px;
  position: relative;
  width: 550px;
}
.seccion__image-container img {
  width: 100%;
}
.seccion__image_square {
  border: var(--primary-color) 2px solid;
  height: calc(100% + 20px);
  left: 40px;
  position: absolute;
  top: 40px;
  width: calc(100% + 25px);
  z-index: 3;
}
.seccion__image_square-bg {
  border: var(--white-color) 20px solid;
  box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc;
  height: calc(100% + 40px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100% + 40px);
  z-index: -1;
}

@media (max-width: 1370px) {
  .seccion__text span {
    font-size: 4rem;
    letter-spacing: 5px;
  }
  .seccion__image-container {
    height: 600px;
    width: 450px;
  }
  .seccion__text,
  .seccion__image {
    height: 600px;
  }
}
@media (max-width: 1000px) {
  .seccion3__container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .seccion3__container {
    padding: 30px 20px 90px 20px;
  }
  .seccion__image_square {
    height: calc(100% + 0px);
    width: calc(100% + 0px);
  }
  .seccion__image-container {
    width: 450px;
  }
  .seccion3__background {
    height: 300px;
  }
}
@media screen and (max-width: 580px) {
  .seccion__image-container {
    height: 500px;
    left: -20px;
    width: 350px;
  }
  .seccion3__container {
    padding: 0px 20px;
    text-align: center;
  }
  .seccion3__background {
    height: 230px;
  }
}
@media screen and (max-width: 420px) {
  .seccion__image-container {
    height: 480px;
    left: -30px;
    width: 300px;
  }
  .seccion__image {
    height: 550px;
  }
}
@media screen and (max-width: 420px) {
  .seccion__image-container {
    width: 280px;
    height: 460px;
  }
}
